<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link  href="/myapp/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%= yield %>
    </body>
</html>